// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";
@import url(http://fonts.googleapis.com/css?family=Montserrat);

body{
	background: #f6f6f6;
	font-family: 'Montserrat', sans-serif;
}

.container{
	margin-top:20px;
	margin-bottom: 40px;
	max-width: 800px;
	background: #fff;
	box-shadow: 0px 0px 11px #888;
	border-radius: 4px;
}


#tooltip
{
    text-align: center;
    color: #333;
    background: #eee;
    position: absolute;
    z-index: 100;
    padding: 20px;
    width:300px;
    border: 2px solid #333;
    border-radius: 4px;

}
 
    #tooltip:after /* triangle decoration */
    {
        width: 0;
        height: 0;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-top: 10px solid #111;
        content: '';
        position: absolute;
        left: 50%;
        bottom: -10px;
        margin-left: -10px;
    }
 
        #tooltip.top:after
        {
            border-top-color: transparent;
            border-bottom: 10px solid #111;
            top: -20px;
            bottom: auto;
        }
 
        #tooltip.left:after
        {
            left: 10px;
            margin: 0;
        }
 
        #tooltip.right:after
        {
            right: 10px;
            left: auto;
            margin: 0;
        }