<!DOCTYPE html>
<html lang="en" ng-app>
<head>
  <title>WixCrmSimpler</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <script type="text/javascript" src="//sslstatic.wix.com/services/js-sdk/1.39.0/js/wix.min.js"></script>
</head>
<body ng-app="ngAnimate">

<%= yield %>

</body>
</html>
